h1 {
  font-family: "Playfair Display SC", serif;
  font-size: larger;
  font-weight: bolder;
}
body {
    font-family: "Playfair", serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
  font-weight: 400;
  font-size: large;
 
}